#headerContainer {
  background-color: #ffc75f;
  height: 5em;
  padding-left: 5em;
  padding-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#mainTitle {
  float: left;
  position: relative;
  margin-left: 3em;
  font-family: 'Love Ya Like A Sister', cursive;
}

#heading {
  font-weight: normal;
}

#headerUnderline {
  background-color: #e7b355;
  height: 3px;
}

#user {
  font-family: 'Love Ya Like A Sister', cursive;
  margin-right: 13em;
  cursor: pointer;
}
