#container {
  background: linear-gradient(180deg, #ffc75f 50%, #ffffff 50%);
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: normal;
}

#inputContainer {
  display: flex;
  flex-direction: row;
}

h1 {
  font-weight: normal;
  color: white;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  color: white;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: normal;
}

h2 {
  font-family: 'Sanchez', serif;
  font-weight: normal;
}

#topContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#titleContainer {
  margin-top: 50px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#inputName {
  background: #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20em;
  font-size: 30px;
  font-family: 'Sanchez', serif;
  font-weight: normal;
}

#submitButton {
  font-family: 'Sanchez', serif;
}

#logoImg {
  width: 100;
  margin-top: 1em;
}

#header {
  margin-top: 2em;
  align-self: flex-start;
}
