#translateContainer {
  background: linear-gradient(
    180deg,
    #ffc75f 0%,
    #ffc75f 30%,
    #ffffff 30%,
    #ffffff 100%
  );
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#displayCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 700px;
}

#translateButton {
  font-family: 'Sanchez', serif;
}

#inputTranslateContainer {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  font-family: 'Sanchez', serif;
}

#inputTranslate {
  background: #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20em;
  font-family: 'Sanchez', serif;
  font-size: 30px;
}
